# alias dotfiles='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
alias sync-dotfiles='rsync --recursive --times --verbose --checksum $HOME/.{aliases,Brewfile,gitignore_global,p10k.zsh,zfunc,zshenv,zshrc} $HOME/projects/dotfiles/'
alias brew-dump='brew bundle dump --all --describe --global'

alias ..='cd ..'
alias ...='cd ../../'
alias ....='cd ../../../'
alias .....='cd ../../../../'
alias cdgrt='cd "$(git rev-parse --show-toplevel || echo .)"'

alias l='ls -CF'
alias ll='ls -alF'
alias rm='rm -I'
alias tgz='tar -zxvf'
alias tree='tree -a -I .git'

alias ga='git add --verbose'
alias gaa='git add --all --verbose'
alias gapa='git add --patch'
alias gb='git branch -v'
alias gc='git commit --verbose'
alias gc!='git commit --verbose --amend'
alias gcn!='git commit --verbose --amend --no-edit'
alias gca='git commit --all --verbose'
alias gca!='git commit --all --verbose --amend'
alias gcan!='git commit --all --verbose --amend --no-edit'
alias gcam='git commit --all --message'
alias gcm='git commit --message'
alias gco='git checkout'
alias gcob='git checkout -b'
alias gd='git diff'
alias gdw='git diff --word-diff'
alias gdm='git diff master'
alias gdmw='git diff master --word-diff'
alias gdma='git diff main'
alias gdmaw='git diff main --word-diff'
alias gds='git diff --staged'
alias gdsw='git diff --staged --word-diff'
alias gdup='git diff @{upstream}'
alias gdupw='git diff @{upstream} --word-diff'
alias glg='git log --graph'
alias glga='git log --graph --decorate=short --all'
alias glgm='git log --graph --max-count=10'
alias glo='git log --oneline --decorate=short --abbrev-commit'
alias glog='git log --oneline --decorate=short --abbrev-commit --graph'
alias gloga='git log --oneline --decorate=short --abbrev-commit --graph --all'
alias glogp="git log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset'"
alias glogpa="git log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset' --all"
alias glogpdate="git log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset'"
alias glogpdateshort="git log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset' --date=short"
alias glogps="git log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset' --stat"
alias gls='git log --stat'
alias glsp='git log --stat --patch'
alias gpl='git pull'
alias gplap='git pull --all -p'
alias gplr='git pull --rebase --verbose'
alias gplra='git pull --rebase --autostash --verbose'
alias gps='git push --verbose'
alias gr='git reset'
alias grhh='git reset --hard'
alias grm='git rm'
alias grmc='git rm --cached'
alias grpristine='git reset --hard && git clean --force -dfx'
alias gs='git status'

alias dimg='docker image ls'
alias dps='docker ps'
