[user]
	email = halilovic.armin@hotmail.com
	name = Armin
[core]
	editor = /usr/bin/vim -f
	excludesfile = ~/.gitignore_global
	filemode = false
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
